body {
  font-family:Sans-serif;
}
.links {
  text-align:center;
  position:relative;
  top:40px;
}
h1 {
  text-align:left;
  font-size:75px;
  padding-left:25%;
  position:relative;
  margin:auto;
  top:40px;
}
.link {
  margin:30px
}
p {
  margin-top:50px;
  text-align:left;
  font-size:30px;
  padding-left:25%;
  padding-right:25%;
}
button {
  margin-top:50px;
  text-align:left;
  font-size:30px;
  margin-left:25%;
  margin-right:25%;
  background-color: transparent;
  cursor: pointer;
  padding:10px;
}
a:link {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: darkblue;
  background-color: transparent;
  text-decoration: none;
}
button:hover {
  background-color: grey;
  text-decoration: none;
}

a:active {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}
