body {
  font-family:Sans-serif;
}

.links {
  text-align:center;
  position:relative;
  top:40px;
}

#greeting {
  font-size:9vw;
  text-align:left;
  position:absolute;
  margin-left:15%;
  top:45%;
}

h1 {
  text-align:left;
  font-size:75px;
  position:relative;
  margin-left:25%;
  margin-top:auto;
  top:40px;
}

.links a {
  margin:30px
}

p {
  text-align:left;
  font-size:30px;
  position:relative;
  margin-top:50px;
  margin-left:25%;
  margin-right:25%;
}

button {
  text-align:left;
  font-size:30px;
  background-color: transparent;
  cursor: pointer;
  margin-top:40px;
  margin-left:25%;
  margin-right:25%;
  padding:10px;
}

a:link {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: darkblue;
  background-color: transparent;
  text-decoration: none;
}

button:hover {
  background-color: grey;
  text-decoration: none;
}

a:active {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}